body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
}

.map-container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #ffffff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    border-radius: 4px;
}

.popup {
    width: 200px;
    text-align: center;
}

.fm-1 {
    /* background-color: red; */
    width: 100%;
    padding: 10px 10px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
}


/* Star Rating */
.rated {
    margin: 8% 0 -8% 0;
    top: 100%;
    float: left;
    overflow:hidden;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row-reverse;
}

.rated input {
    display: none;
}

.rated label {
    display: inline-block;
    cursor: pointer;
    width: 28px;
}

.rated label:before {
    content: '☆';
    display: block;
    position: relative;
    color: grey;
    font-size: 30px;
}

.rated label:after {
    content: '★';
    display: block;
    position: absolute;
    color: yellow;
    font-size: 30px;
    top: 0;
    opacity: 0;
    transition: .2s;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5)
}

.rated input[checked]~label:after {
    opacity: 1;
}