@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
    margin: 0;
    font-family: -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    'sans-serif';
}

.mapboxgl-popup-content {
    padding: 5px !important;
}

/* Display Card(popup) */
.display-card {
    width: 200px;
    text-align: center;

}

/* Info Card(popup)*/

.display-card .display-image {
    width: 200px;
    height: 100px;
}

.display-card .display-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50%, 50%;
}

.display-card h3 {
    margin: 10px;
    font-family: 'Poppins',sans-serif; 
}

.display-card fieldset legend {
    font-size: 11px;
    font-weight: 400;

  
}

/* rated star */
.display-rated {
    margin: 8% 0 -8% 0;
    top: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row-reverse;
}

.display-rated input {
    display: none;
}

.display-rated label {
    display: inline-block;
    cursor: pointer;
    width: 22px;
}

.display-rated label:before {
    content: '☆';
    display: block;
    position: relative;
    color: grey;
    font-size: 25px;
}

.display-rated label:after {
    content: '★';
    display: block;
    position: absolute;
    color: yellow;
    font-size: 25px;
    top: 0;
    opacity: 0;
    transition: .2s;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5)
}

.display-rated input[checked]~label:after {
    opacity: 1;
}

/* Form Card */

.display-form {
    width: 100%;
    padding: 10px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid rgb(228, 219, 219);
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
}

.display-card input[type=submit].display-form {
    background-color: #3cc571;
    color: #fff;
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
}

.display-card input[type=submit].display-form:hover {
    background-color: #278b4e;
}

/* form card rating */